@use "./core/normalize"
@use "./core/reset"
@use "./core/typography"
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')

*
    box-sizing: border-box
    font-family: "Gellix", "Nunito", serif !important

:root 
    --bg-color: #FAFAFA
    --black-color: #19202D
    --white-color: #FFFFFF
    --gray-color: #9397A0
    --lightblue-color: #83B1FF
    --accent-color: #5474FD
    --box-shadow: 0 -.3rem 2.4rem 0 rgba(25, 32, 45, 0.05)

:root[data-theme = "dark"]
    --bg-color: #191919
    --black-color: #E5E6E9
    --white-color: #232323
    --gray-color: #9397A0
    --lightblue-color: #83B1FF
    --accent-color: #5474FD
    --box-shadow: 0 -.3rem 2.4rem 0 rgba(229, 230, 233, 0.04)

html
    font-size: 62.5%
    @media (width >= 768px) 
        font-size: 77.5%
    @media (width >= 1366px) 
        font-size: 54.5%
    @media (width >= 1600px) 
        font-size: 63.5%
    @media (width >= 1920px) 
        font-size: 76.5%
    @media (width >= 2240px) 
        font-size: 89%
    @media (width >= 2560px) 
        font-size: 101.5%

body
    background-color: var(--bg-color)
    height: 100vh
    @media (width >= 1200px)
        padding-left: 7rem

a
    text-decoration: none

.container
    padding: 3rem