.slider
    overflow: hidden
    // scrollbar-width: none
    &__content
        display: flex
        gap: 2rem
        padding: 0 calc((100vw - 25.5rem) / 2)
        width: calc((25.5rem) * 3 + (calc((100vw - 25.5rem) / 2) + 2rem) * 2)
        transition: all .4s ease