.newsItem
    display: grid
    grid-template-columns: 6.4rem 1fr
    gap: 1.6rem

    &__description
        //

    &__image
        background-color: #F2F4F5
        width: 6.4rem
        aspect-ratio: 1 / 1

    &__title
        font-size: 1.4rem
        font-weight: 700
        margin-bottom: .8rem

    &__info
        color: #6C7072
        font-size: 1.2rem
    
    