@use "./core/normalize"
@use "./core/reset"
@use "./core/typography"

*
    box-sizing: border-box
    font-family: "Gellix" !important

html
    font-size: 62.5%

body
    background-color: #FCFCFC
    height: 100vh

.container
    padding: 3rem