@use "./core/normalize"
@use "./core/reset"
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..700&display=swap')


*
    box-sizing: border-box
    font-family: "Inter" !important

html
    font-size: 62.5%

.container
    padding: 2.4rem