@use "./core/normalize"
@use "./core/reset"
@use "./core/typography"
@import "./abstracts/variables"

*
    box-sizing: border-box
    font-family: "Gellix" !important

html
    font-size: 62.5%
    @media (width >= 768px) 
        font-size: 77.5%
    @media (width >= 1366px) 
        font-size: 54.5%
    @media (width >= 1600px) 
        font-size: 63.5%
    @media (width >= 1920px) 
        font-size: 76.5%
    @media (width >= 2240px) 
        font-size: 89%
    @media (width >= 2560px) 
        font-size: 101.5%

body
    background-color: $bg-color
    height: 100vh
    @media (width >= 1200px)
        padding-left: 7rem

.container
    padding: 3rem