.query
    margin: 0 auto
    width: 40rem
    max-width: 80%
    aspect-ratio: 1 / 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 1.8rem
    font-weight: 500

    &__bear
        height: 17rem
        margin-bottom: 1rem

    &__text
        width: 30rem
        color: var(--gray-color)
        text-align: center
        line-height: 1.2
        margin-bottom: 1.2rem
        user-select: none

    &__button
        cursor: pointer
        padding: .15rem 1.5rem .5rem 1.5rem
        background-color: transparent
        color: var(--gray-color)
        font-weight: 600
        outline: none
        border: .2rem solid var(--gray-color)
        border-radius: 1rem
        margin-bottom: 2.2rem
        transition: all .4s ease

        &:hover
            background-color: var(--gray-color)
            color: var(--white-color)